{% extends "base.html.twig" %}

{% block title %}Preis&uuml;bersicht{% endblock %}

{% block content %}
    <div class="container">
        <h2>Preis&uuml;bersicht</h2>

        <div class="row">
            {% for fuelType,priceList in fuelPrices %}
                <div class="col-sm">
                    <h3>{{ fuelType|capitalize }}</h3>

                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>Tankstelle</th>
                            <th>Preis</th>
                            <th>Details</th>
                        </tr>

                        {% for priceItem in priceList %}
                            <tr>
                                <td>
                                    {{ priceItem.name }}<br>
                                    <small>{{ priceItem.place }}</small>
                                </td>
                                <td>
                                    {{ priceItem.price }}<br>
                                    <small class="text-nowrap">seit {{ priceItem.timediff }}</small>
                                </td>
                                <td class="text-center">
                                    <a href='index.php?cl=stationPriceList&stationId={{ priceItem.id }}'>
                                        <i class="fa-solid fa-circle-info"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
