{% extends "base.html.twig" %}

{% block title %}Preis&uuml;bersicht{% endblock %}

{% block content %}
    <h1>Preis&uuml;bersicht</h1>

    {% for fuelType,priceList in fuelPrices %}
        <h2>{{ fuelType|capitalize }}</h2>

        <table style='border: 1px solid silver'>
            <tr>
                <th>Tankstelle</th>
                <th>Ort</th>
                <th>aktueller Preis</th>
                <th>&Auml;nderung vor (Std:Min)</th>
                <th>Historie</th>
            </tr>

            {% for priceItem in priceList %}
                <tr>
                    <td>{{ priceItem.name }}</td>
                    <td>{{ priceItem.place }}</td>
                    <td>{{ priceItem.price }}</td>
                    <td>{{ priceItem.timediff }}</td>
                    <td><a href='index.php?cl=stationPriceList&stationId={{ priceItem.id }}'>Entwicklung</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% endblock %}
