{% extends "base.html.twig" %}

{# Autoreload after cron was running #}
{% block head %}
    {{ parent() }}
    <script type="text/javascript">
        function refreshAt(hours, minutes, seconds) {
            let now = new Date();
            let then = new Date();

            if (
                now.getHours() > hours ||
                (now.getHours() === hours && now.getMinutes() > minutes) ||
                now.getHours() === hours && now.getMinutes() === minutes && now.getSeconds() >= seconds
            ) {
                then.setDate(now.getDate() + 1);
            }
            then.setHours(hours);
            then.setMinutes(minutes);
            then.setSeconds(seconds);

            let timeout = (then.getTime() - now.getTime());
            setTimeout(function() { window.location.reload(true); }, timeout);
        }
        refreshAt({{ reloadTime['hour'] }},{{ reloadTime['minute'] }},{{ reloadTime['second'] }});
    </script>
{% endblock %}

{% block title %}Preis&uuml;bersicht{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h2 class="col-4 col-sm-6">Preis&uuml;bersicht</h2>
        </div>

        <ul class="nav d-lg-none">
            {% for fuelType,priceList in fuelPrices %}
                <li class="nav-item">
                    <a class="nav-link" href="#{{ fuelType }}">{{ fuelType|capitalize }} &darr;</a>
                </li>
            {% endfor %}
        </ul>

        <div class="row">
            {% for fuelType,priceList in fuelPrices %}
                <div class="col-sm">
                    <a id="{{ fuelType }}"></a>
                    <h3>{{ fuelType|capitalize }}</h3>

                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>Tankstelle</th>
                            <th>Preis</th>
                        </tr>

                        {% for priceItem in priceList %}
                            <tr class="{% if priceItem.closed %}closed {% endif %}">
                                <td>
                                    <a href='index.php?cl=stationPriceList&stationId={{ priceItem.id }}'>{{ priceItem.name }}</a><br>
                                    <small>{{ priceItem.place }}</small>
                                    {% if priceItem.closed %}(geschlossen){% endif %}
                                </td>
                                <td>
                                    {{ priceItem.price }} &euro;<br>
                                    <small class="text-nowrap">seit {{ priceItem.timediff }}</small>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}