{% extends "base.html.twig" %}

{% block title %}Preis&uuml;bersicht{% endblock %}

{% block content %}
    <div class="container">
        <h2>Preis&uuml;bersicht</h2>

        <div class="row">
            {% for fuelType,priceList in fuelPrices %}
                <div class="col-sm">
                    <h3>{{ fuelType|capitalize }}</h3>

                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>Tankstelle</th>
                            <th>Preis</th>
                        </tr>

                        {% for priceItem in priceList %}
                            <tr class="{% if priceItem.closed %}closed {% endif %}">
                                <td>
                                    <a href='index.php?cl=stationPriceList&stationId={{ priceItem.id }}'>{{ priceItem.name }}</a><br>
                                    <small>{{ priceItem.place }}</small>
                                    {% if priceItem.closed %}(geschlossen){% endif %}
                                </td>
                                <td>
                                    {{ priceItem.price }} &euro;<br>
                                    <small class="text-nowrap">seit {{ priceItem.timediff }}</small>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
