{% extends "base.html.twig" %}

{% block title %}{{ stationName }}{% endblock %}

{% block content %}
    <h1>{{ stationName }}</h1>

    <img src="{{ requestUrl|replace({"&amp;": "&"}) }}&amp;fnc=getGraph">

    {% for fuelType,statList in priceStats %}
        <h2>{{ fuelType|capitalize }}</h2>

        <table style='border: 1px solid silver'>
            <tr>
                <th>Datum</th>
                <th>durchschn. Erh&ouml;hung</th>
                <th>durchschn. Haltezeit Tiefpreis</th>
            </tr>

            {% for statItem in statList %}
                <tr>
                    <td>{{ statItem.date }}</td>
                    <td>{{ statItem.pricediff }}</td>
                    <td>{{ statItem.timediff }} Min.</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}

    {% for fuelType,priceItems in priceList %}
        <table style='border: 1px solid silver'>
            <tr>
                <th>von</th>
                <th>bis</th>
                <th>Preis</th>
            </tr>

            {% for priceItem in priceItems %}
                <tr>
                    <td>{{ priceItem.ts1 }}</td>
                    <td>{{ priceItem.ts2 }}</td>
                    <td>{{ priceItem.price }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% endblock %}
