{% extends "base.html.twig" %}

{% block title %}{{ station['stationname'] }}{% endblock %}

{% block content %}
    <div class="container">
        <h2>{{ station['stationname'] }}</h2>

        <nav>
            <div class="nav nav-pills" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-stationdata-tab" data-bs-toggle="tab" data-bs-target="#nav-stationdata" type="button" role="tab" aria-controls="nav-stationdata" aria-selected="true">allgem. Angaben</button>
                <button class="nav-link" id="nav-timegraph-tab" data-bs-toggle="tab" data-bs-target="#nav-timegraph" type="button" role="tab" aria-controls="nav-timegraph" aria-selected="true">Preisdiagramm</button>
                {% for fuelType,mylists in lists %}
                    <button class="nav-link" id="nav-{{ fuelType }}-tab" data-bs-toggle="tab" data-bs-target="#nav-{{ fuelType }}" type="button" role="tab" aria-controls="nav-{{ fuelType }}" aria-selected="true">Preisentwicklung {{ fuelType|capitalize }}</button>
                {% endfor %}
            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-stationdata" role="tabpanel" aria-labelledby="nav-stationdata-tab">
                {% include 'pages/station/openingtimes.html.twig' %}
            </div>
            <div class="tab-pane fade show" id="nav-timegraph" role="tabpanel" aria-labelledby="nav-timegraph-tab">
                {% include 'pages/station/timegraph.html.twig' %}
            </div>
            {% for fuelType,mylists in lists %}
                <div class="tab-pane fade show" id="nav-{{ fuelType }}" role="tabpanel" aria-labelledby="nav-{{ fuelType }}-tab">
                    <div class="row mt-4">
                        <div class="col-sm">

                            <h3>Tiefpreisphasen</h3>
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <th>Datum</th>
                                    <th>durchschn. Erh&ouml;hung</th>
                                    <th>durchschn. Haltezeit Tiefpreis</th>
                                </tr>
                                {% for statItem in mylists['stat'] %}
                                    <tr>
                                        <td>{{ statItem.date }}</td>
                                        <td>{{ statItem.pricediff }}</td>
                                        <td>{{ statItem.timediff }} Min.</td>
                                    </tr>
                                {% endfor %}
                            </table>

                            <h3>Preise der letzten 24 Stunden</h3>
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <th>von</th>
                                    <th>bis</th>
                                    <th>Preis</th>
                                </tr>
                                {% for priceItem in mylists['prices'] %}
                                    <tr>
                                        <td>{{ priceItem.ts1 }}</td>
                                        <td>{{ priceItem.ts2 }}</td>
                                        <td>{{ priceItem.price }} &euro;</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
